.recipe-editor-page {
  margin-top: 20px;
  margin-bottom: 30px;
}
.recipe-editor-page .ingredient-input-box {
  margin: 15px;
  display: flex;
  flex-direction: row;
}

.recipe-editor-page .ingredient-input {
  max-width: 220px;
}

.recipe-editor-page .ingredient-input,
.recipe-editor-page .ingredient-remove-btn {
  margin-right: 30px;
}

.recipe-editor-page .direction-input-box {
  display: flex;
  flex-direction: row;
}

.recipe-editor-page .direction-input {
  max-width: 600px;
  margin-right: 10px;
}

.recipe-editor-page .direction-btn-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-editor-page .direction-remove-btn,
.recipe-editor-page .direction-add-btn {
  width: 90px;
  padding: 3px 8px;
  border: none;
  border-radius: 5px;
  color: white;
}

.recipe-editor-page .direction-remove-btn {
  background-color: brown;
}

.recipe-editor-page .direction-add-btn {
  background-color: green;
}
