/* Page */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-bottom: 80px;
}

.content-wrap {
  flex: 1;
}

.jumbotron-landing {
  /* width: 100vw; */
  background-image: url("../images/cooking.jpg");
  background-repeat: no-repeat;
  /* background-size: contain; */
}

/* Main footer */
.main-footer-container {
  color: #000;
  background-color: #569c2d;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
}

.test-100-vw {
  width: 100vw;
}
