@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");

@import url("./stylesheets/globalStyles.css");
@import url("./stylesheets/utilityStyles.css");

/* page styles */
@import url("./stylesheets/pageStyles/landingPageStyles.css");
@import url("./stylesheets/pageStyles/profilePageStyles.css");
@import url("./stylesheets/pageStyles/loginPageStyles.css");
@import url("./stylesheets/pageStyles/recipeDetailPage.css");
@import url("./stylesheets/pageStyles/recipeEditorPageStyles.css");
@import url("./stylesheets/pageStyles/registerPageStyles.css");
@import url("./stylesheets/pageStyles/recipesPageStyles.css");

/* component styles */
@import url("./stylesheets/componentStyles/recipeOutlineCardStyles.css");
@import url("./stylesheets/componentStyles/preloaderStyles.css");
@import url("./stylesheets/componentStyles/commentFormStyles.css");
@import url("./stylesheets/componentStyles/commentListStyles.css");
@import url("./stylesheets/componentStyles/changePasswordModalStyles.css");
@import url("./stylesheets/componentStyles/footerStyles.css");
@import url("./stylesheets/componentStyles/navigationBarStyles.css");
@import url("./stylesheets/componentStyles/newSearchBarStyles.css");
@import url("./stylesheets/componentStyles/landingJumbotronStyles.css");
@import url("./stylesheets/componentStyles/reactionEmojiStyles.css");

/* Page */
.page-container {
  min-height: 90vh;
}

.content-wrap {
  flex: 1;
}

.dashboard {
  display: flex;
  flex-direction: row;
}

.dashboard .dashboard-page {
  width: 60%;
}

/* Main footer */
.test-100-vw {
  width: 100vw;
}
