@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");

@import url("./stylesheets/globalStyles.css");
@import url("./stylesheets/utilityStyles.css");
@import url("./stylesheets/pageStyles/landingPageStyles.css");
@import url("./stylesheets/pageStyles/profilePageStyles.css");

/* Page */
.page-container {
  /* display: flex;
  flex-direction: column; */
  min-height: 100vh;
  margin-bottom: 80px;
}

.content-wrap {
  flex: 1;
}

.jumbotron-landing {
  /* width: 100vw; */
  background-image: url("./images/cooking.jpg");
  background-repeat: no-repeat;
  /* background-size: contain; */
}

/* Main footer */
.main-footer-container {
  color: #000;
  background-color: #569c2d;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
}

.test-100-vw {
  width: 100vw;
}
